# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Virtual Environments
venv/
.venv/
env/
.env

# IDEs
.vscode/
.idea/

# OS specific
Thumbs.db
Desktop.ini

# Project specific temp files
*.log
image.jpg
